<script>
import { mapActions } from "vuex";

export default {
	name: "BookCreate",
	data() {
		return {
			form: {
				name: "",
				description: "",
				text: "",
				category: ""
			}
		};
	},
	methods: {
		...mapActions(["pushKitob"]),
		kitob() {
			this.pushKitob(this.form)
				.then(() => {
					console.log("Yangi kitob muvaffaqiyatli qoshildi");
					this.$router.push("/");
				})
				.catch((error) => {
					console.error("Error adding book:", error);
				});
		}
	}
};
</script>

<template>
	<form class="col-6" @submit.prevent="kitob">
		<div class="mb-3">
			<label class="form-label" for="exampleInputName1">Name</label>
			<input id="exampleInputEmail1" v-model="form.name" class="form-control" type="text">
		</div>
		<div class="mb-3">
			<label class="form-label" for="exampleInputDescription11">Description</label><br>
			<input id="exampleInputDescription1" v-model="form.description" class="form-label" type="text"><br>
		</div>
		<div class="mb-3">
			<label class="form-label" for="exampleInputText1">Text</label><br>
			<input id="exampleInputDescription1" v-model="form.text" class="form-label" type="text"><br>
		</div>
		<div class="mb-3">
			<label class="form-label" for="exampleSelect">Category</label>
			<select v-model="form.category" class="form-select" aria-label="Default select example">
				<option value="/api/categories/1">Komedy</option>
				<option value="/api/categories/2">Detektiv</option>
				<option value="/api/categories/3">Fantastik</option>
				<option value="/api/categories/4">Action</option>
			</select>
		</div>
		<button class="btn btn-primary" type="submit">Kiritish</button>
	</form>
</template>

<style scoped>

</style>
