<script setup>

import BooksRow from "@/components/BooksRow.vue";
import PaginationRow from "@/components/PaginationRow.vue";
</script>

<template>
	<BooksRow/>
	
	<PaginationRow/>
</template>

<style>

</style>