<script>
import {mapActions} from "vuex";

export default {
	name: "LoginPage",
	data() {
		return {
			form: {
				email: '',
				password: ''
			}
		}
	},
	methods: {
		...mapActions(["fetchUserToken","fetchCategories"]),
		auth() {
			this.fetchUserToken(this.form)
				.then(() => {
					console.log('Login muvaffaqatliy olindi')
					this.fetchCategories()
					this.$router.push('/')
				})
			console.log('Bu login sahifasi auth funkisyasi')
		}
	}
}

</script>

<template>
	<form class="col-6" @submit.prevent="auth">
		<h1>Login</h1>
		<div class="mb-3">
			<label class="form-label" for="exampleInputEmail1">Email</label>
			<input id="exampleInputEmail1" v-model="form.email" aria-describedby="emailHelp" class="form-control" type="email">
		</div>
		<div class="mb-3">
			<label class="form-label" for="exampleInputPassword1">Password</label><br>
			<input id="exampleInputPassword1" v-model="form.password" class="form-label" type="password"><br>
		</div>
		<button class="btn btn-primary" type="submit">Kirish</button>
	</form>
</template>

<style>

</style>