<script>
</script>

<template>
	<!-- navbar boshlandi -->
	<div class="row">
		<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
			<div class="container-fluid">
				<router-link class="navbar-brand" to="/">Kitoblar</router-link>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<router-link to="/login" class="nav-link">Login</router-link>
						</li>
						
						<li class="nav-item">
							<router-link  class="nav-link" to="/Registration">Registration</router-link>
						</li>
						<li class="nav-item">
							<router-link  class="nav-link" to="/CreateBook">Kitob Yaratish</router-link>
						</li>
					</ul>
					<form class="d-flex" role="search">
						<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success" type="submit">Search</button>
					</form>
				</div>
			</div>
		</nav>
	</div>
	<!-- navbar tugadi -->
</template>

<style scoped>

</style>