<script>
import {mapActions, mapGetters} from "vuex";

export default {
	name: "SideBar",
	computed: {
		...mapGetters(['getCategories'])
	},
	methods: {
		...mapActions(['fetchCategories'])
	},
	mounted() {
		console.log('Sidebar componentimiz yuklandi')
		this.fetchCategories()
	}
}
</script>

<template>
	<div class="col-12 col-md-2">
		<div v-if="$route.path !== '/login'" class="list-group">
			<router-link
				v-for="category of getCategories"
				v-bind:key="category.id"
				href="#"
				:to="'/categories/' + category.id"
				class="list-group-item list-group-item-action"
				:class="parseInt($route.params.id) === category.id ? 'active' : '' "
				>
				{{category.name}}
			</router-link>
			
		</div>
	</div>
</template>

<style scoped>

</style>